@import '../../../styles/settings.scss';
@import '../../../styles/windows.scss';



.all-certificates__wrapper {
    margin: 20px 10px 0 10px;

    .all-certificates__list {
        display: flex;
        flex-direction: column;

        .all-certificates__row {
            width: fit-content;

            .certificate-card__header {
                display: flex;
                padding: 10px;

                .certificate-card__logo {
                    height: 50px;
                    width: auto;
                }

                .certificate-card__details {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 0 10px;


                    h3 {
                        font-family: 'InterRegular';
                        font-weight: 600;
                        font-size: 0.8rem;
                        color: $orange;
                    }

                    .certificate-card__description {
                        font-style: italic;
                        font-size: 0.6rem;

                        .certificate-card__note {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 0.8rem;
                            color: red;
                        }

                        .certificate-card__author {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 0.8rem;
                            color: rgb(12, 69, 192);
                        }

                        .certificate-card__date {

                            font-style: italic;
                        }

                    }
                }
            }
        }
    }
}