@import '../../../styles/settings.scss';
@import '../../../styles/windows.scss';


.article-cards-list__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
    justify-content: space-around;

    .article-cards-list__item {
        width:100%;
    }
}




@media screen and (min-width: 750px) {

        .article-cards-list__content {
            .article-cards-list__item {
                width:min-content;
            }
        }
    }
