@import '../../../styles/settings.scss';
@import '../../../styles/windows.scss';



.signin__form-group {
  margin-bottom: 1.5rem;
  flex-direction: column;

  display: flex;
}

.signin__username-container,
.signin__email-container,
.signin__password-container {
  display: flex;
  align-items: center;

}

.signin__form-control {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  box-sizing: border-box;
}

.signin__toggle-password {
  background: none;
  border: none;
  width: fit-content;
}

i {
  color: #333;
}





.signin__error {
  color: #d9534f;
  font-size: 0.8rem;
  font-style: italic;
}

button[type='button'] {
  background: none;

}

button:disabled {
  background-color: $grey;
  border: none;
  cursor: not-allowed;
}

.weak {
  color: red;
}

.medium {
  color: orange;
}

.strong {
  color: green;
}