app-navigation {
    position: fixed;
    z-index: 3000;
}



.desktop{
    
    position: relative;
    height: 100vh;
  

}

@media screen and (min-width: 750px) {
    .desktop{

        padding: 20px;
    }
    
}