<div *ngIf="isLoading" class="mask"></div>
<div *ngIf="isLoading" class="spinner"></div>


<app-notifications *ngIf="isNotificationWindow" [notificationMessage]="notificationMessage"></app-notifications>


<div class="window__wrapper" [ngClass]="{'hidden': !isWindowOpen}">
    <div class="window__header">
        <div class="window__top">
            <div class="window__caseleft" (click)="closeWindow()"></div>
            <div class="window__casetitle">
                <p>Certificats</p>
            </div>
            <div class="window__caseright" (click)="toggleWindow()"></div>
        </div>
    </div>

    <div class="window__bot">
        <div class="window__state-bar"></div>
    </div>


    <div class="window__container" *ngIf="!isWindowToggled">

<div *ngIf="!isNotificationWindow" class="certificate-cards-list__wrapper" [ngClass]="{'hidden' : !isWindowOpen}">


    <div class="certificate-cards-list__content" [ngClass]="{'hidden' : isWindowToggled}">
        @for (certification of dataCertificates; track certification) {
        <app-certifi-card class="certificate-cards-list__item"[certification]="certification"></app-certifi-card>
        }

    </div>

</div>