@import '../../../styles/settings.scss';
@import '../../../styles/windows.scss';


.certificate-cards-list__wrapper {

    position:relative;
    margin: 20px 0;
    padding: 0 10px;
    box-sizing: border-box;


    &.hidden {
        display: none;
    }


    .certificate-cards-list__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;


        &.hidden {
            display: none;
        }


    }

}


