<div *ngIf="isLoading" class="mask"></div>
<div *ngIf="isLoading" class="spinner"></div>

<div class="window__wrapper window__size">
    <div class="window__header">
        <div class="window__top">
            <div class="window__caseleft" (click)="closeWindow()"></div>
            <div *ngIf="dataFiles" class="window__casetitle">
                <p>{{dataFiles.length > 0 ? dataFiles[0].label : "Aucun Fichier"}}</p>
            </div>
            <div class="window__caseright" (click)="hideContent()"></div>
        </div>
    </div>
    <div class="window__bot">
        <div *ngIf="dataFiles &&  dataFiles.length > 0" class="window__state-bar">
            nombre de fichier : {{dataFiles.length}}
            <div class="unit-files-list__content" *ngIf="!isContentToggled">
                <ul>
                    <li *ngFor="let file of dataFiles">
                        <a [href]="baseUrl + '/downloads/' + file.name">
                            {{file.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<app-notifications *ngIf="isNotificationWindow" [notificationMessage]="notificationMessage"></app-notifications>